# pip install -r requirements-torch-cu116.txt --extra-index-url https://download.pytorch.org/whl/cu116

#torch==1.12.1+cu116
#torchaudio==0.12.1+cu116
#torchvision==0.13.1+cu116
torch
transformers
gensim
datasets
tqdm
gdown
jupyter
gpustat
openpyxl
